.calendar-container {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  background-color: rgba(250, 250, 250);
  border: 3px solid rgba(0, 0, 0, 0.579);
  border-radius: var(--big-border-radius);
  padding: 10px;
}

.calendar-container__controls {
  width: fit-content;
  margin: 10px auto 10px auto;
  padding: 5px;
  background-color: var(--pink);
  border-radius: var(--generic-border-radius);
}