@font-face {
  font-family: Roboto;
  src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Silkscreen;
  src: url(../../fonts/Silkscreen/Silkscreen-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
  font-size: 14pt;
  user-select: none;
}

li {
  list-style: none;
}

:root {
  --generic-border-radius: 5px;
  --grey: rgb(233, 233, 237);
}